<div>
<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" [routerLink]="['/temporizador']" routerLinkActive="$router_link-active$">Temporizador</a>
        <a class="dropdown-item" [routerLink]="['/disciplina']">Lista de Cursos</a>
      </div>
    </li>

  </ul>
</nav>
</div>
